---
http_interactions:
- request:
    method: post
    uri: https://amits-assorted.neto.com.au/do/WS/NetoAPI
    body:
      encoding: UTF-8
      string: '{"Filter":{"IsActive":["True"],"Approved":["True"],"OutputSelector":["SKU","Name","Description","ImageURL","ProductURL","Categories","Brand","UPC","WarehouseQuantity","DefaultPrice"]}}'
    headers:
      Netoapi-Action:
      - GetItem
      Netoapi-Key:
      - 3RqSqZ384PtUNh9Im6A0bAG9FdGbmq0j
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Iinfo:
      - 2-16028253-16028306 NNNN CT(184 356 0) RT(1504161218166 225) q(0 0 6 0) r(16
        16) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"Item":[{"ProductURL":"","Categories":[{"Category":[{"CategoryID":"98","Priority":"1","CategoryName":"Clothing"},{"CategoryID":"101","Priority":"0","CategoryName":"T-Shirt"}]}],"WarehouseQuantity":[{"WarehouseID":"1","Quantity":"7"},{"WarehouseID":"2","Quantity":"2"}],"ImageURL":"https://cdn.neto.com.au/assets/sample_data/products/main/1.jpg","InventoryID":"100","Brand":"Bollywood","UPC":"1234567891","DefaultPrice":"79.95","Name":"[Sample]
        Americana Dining Chair","Description":"<p>Product descriptions and images
        are an important part of any product listing. In a recent survey, 63% of shoppers
        reported them as very important to their decision-making process.</p>\n\n<p><em>This
        is an example product description for a demonstration product. Purchases of
        this product will not be fulfilled. </em></p>\n\n<p>Product descriptions can
        contain text, images, YouTube videos, html and even javascript. Product descriptions
        should be less than 600 words in length and should highlight the features
        and benefits of the product you are selling.</p>\n\n<p>Unique product descriptions
        that are well written and content rich can help to improve your search engine
        rankings and sales conversion rates. Try to avoid copying and pasting product
        descriptions from competitor or manufacturer websites. This is deemed to be
        duplicate content and could negatively impact your search engine rankings.</p>\n\n<p>You
        should invest in high-quality product images because the perceived value of
        your products is directly impacted by the quality of your product images.
        To get started, invest in a good camera, tripod, light box and a few YouTube
        tutorials. Alternatively, you can always request high-quality photographs
        from the product''s manufacturer.</p>\n\n<p><em>This demonstration product
        and its related sales data will automatically be deleted if you choose to
        subscribe to a paid plan.</em></p>\n\n<p>&nbsp;</p>\n","SKU":"SMP_1"},{"ProductURL":"","Categories":[{"Category":{"CategoryID":"99","Priority":"0","CategoryName":"Women''s
        Clothing"}}],"WarehouseQuantity":"","ImageURL":"https://cdn.neto.com.au/assets/sample_data/products/main/10.jpg","InventoryID":"101","Brand":"Etsy","UPC":"","DefaultPrice":"149.95","Name":"[Sample]
        Bently Luxury Dining Chair","Description":"<p>Product descriptions and images
        are an important part of any product listing. In a recent survey, 63% of shoppers
       [...]
